<div class="container mt-2">
  <% if @is_my_flats %>
    <h3>Mis alojamientos</h3>
    <p>Da click en un alojamiento para editarlo</p>
  <% else  %>
    <h3>Alojamientos para tu mascota</h3>
  <% end  %>
  <div class="row">
    <div class="col-8">
        <div class="cards">
          <% @flats.each do |flat| %>
            <%= link_to build_flat_path(flat) do %>
              <div class="card-trip">
                <% if !flat.photos.empty?  %>
                  <%= cl_image_tag flat.photos.first.key, height: 150, width: 250, crop: :fill %>
                <% end %>
                  <div class="card-trip-infos">
                    <div>
                      <h2><%= flat.title %></h2>
                      <p><%= flat.description %></p>
                    </div>
                    <h2 class="card-trip-pricing">S/.<%= flat.price_per_night %></h2>
                    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    <div class="col-4"></div>
  </div>
</div>
