<div class=" mt-4 ml-3">
  <%= render "filters", flat: @flat %>
  <% if @is_my_flats %>
    <h3 class="title-h3">Mis alojamientos</h3>
    <p class="text-p">Da click en un alojamiento para editarlo</p>
  <% else  %>
    <h3>Alojamientos para tu mascota</h3>
  <% end  %>
  <div class="row">
    <div class="col-8">
      <div class="cards ml-1">
        <% @flats.each do |flat| %>
          <%= link_to  build_flat_path(flat), class: "card-trip-wrapper" do %>
            <div class="card-trip">
              <% if !flat.photos.empty?  %>
                <%= cl_image_tag flat.photos.first.key, height: 150, width: 200, crop: :fill %>
              <% end %>
              <div class="card-trip-infos">
                <div >
                  <h2><%= flat.title %></h2>
                  <p class="card-trip-description"><%= flat.description %></p>
                </div>
                <h2 class="card-trip-pricing">S/.<%= flat.price_per_night %></h2>
             <% if !flat.user.avatar.attached? %>
          <%= image_tag "https://thumbs.dreamstime.com/b/default-avatar-profile-vector-user-profile-default-avatar-profile-vector-user-profile-profile-179376714.jpg", class: "avatar-bordered  dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <% else %>
          <%= cl_image_tag flat.user.avatar.key, class: "avatar-bordered dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false  %>
        <% end %>

              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="col-4">
     <div id="map"
        style="width: 100%; height: 100vh;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
      </div>
     </div>
  </div>
