<div class="container">

  <div class="row">
    <div class="col">
      <h2>
        <%= @flat.title%>
      </h2>
    </div>
  </div>
  <!-- img -->
  <div class="card-columns">
    <% @flat.photos.each do |photo| %>
      <div class="card">
        <%= cl_image_tag photo.key, height: 150, width: 250, crop: :thumb %>
      </div>
    <% end %>
  </div>

<!-- description / reserva -->
<div class="container">
  <!-- info-anfitrion -->
  <div class="row">
    <div class="col-8">
      <div class="row mt-4">
        <div class="col-8 p-0">
          <h3>Anfitrion</h3>
        </div>
        <div class="col">
          <img class="avatar" alt="avatar" src="https://kitt.lewagon.com/placeholder/users/cveneziani" />
        </div>
      </div>
      <div class="row">
        <div class="description-house pt-2">
          <%= @flat.description%>
        </div>
      </div>
      <div class="row mt-4">
        <h3>Los servicios</h3>
        <div class="servicios">
          <!-- servicios -->
          <p>Los servicios son ...</p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="booking-card">
       <!-- card-reservas -->
      <div class="container">
        <%= form_with url: new_user_session_path, method: :get do |f| %>
            <p>Price per night: S/. <%= @flat.price_per_night  %></p>
            <div class="form-group">
              <%= f.label :start_date %>
              <%= f.date_field :start_date, class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.label :end_date %>
              <%= f.date_field :end_date, class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.label :number_of_pets %>
              <%= f.number_field :number_of_pets, in: 1..5, class: 'form-control' %>
            </div>
            <div class="my-3 text-center flex-grow-1">
            <%= f.submit "Book now", class: 'btn btn-flat' %>
            </div>
         <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
