
<div class="container mt-5">
  <div class="text-center">
    <h3>My bookings</h3>
  </div>
  <% @bookings.each do |booking| %>
   <div class="container">
    <div class="row justify-content-center">
    <div class="col-6">
      <div class="container my-5">
          <div class="card-product my-3">
            <%= cl_image_tag booking.flat.photos.first.key%>
            <div class="card-product-infos">
              <h2><%= booking.status.capitalize %></h2>
              <p>Total price: S/. <%= booking.total_price %></p>
              <p>Start date: <%= booking.start_date.strftime("%d de %b") %></p>
              <p>End date: <%= booking.end_date.strftime("%d de %b") %></p>
            </div>
          </div>
            <div class="notification-actions text-center">
                <%= link_to "Accept", edit_flat_booking_path(booking.flat, booking), class: "btn-flat" %>
                <%= link_to "Cancel", delete_booking_path(booking.flat, booking), method: :delete, class: "btn-cancel", data: { confirm: "Are you sure?" } %>
            </div>
        </div>
      </div>
    </div>
  </div>
  <%end %>
</div>
