<div class="container">
  <h3>Your booking is <%= @booking.id %></h3>
  <p>Stard date : <%= @booking.start_date %></p>
  <p>End date : <%= @booking.end_date %></p>
  <%= @booking.end_date - @booking.start_date %>
  <button class="btn btn-flat"><%= link_to "Back", root_path%></button>
</div>
